body {
  margin: 0;
}
:global {
  .box {
    position: relative;
    top: 100px;
    left: 100px;
    border: 1px solid rgb(213, 168, 100);
  }
  .board {
    width: min-content;
  }
  .drawing-board {
    position: absolute;
    top: 0;
    left: 0;
  }
}